/*html {
    background: #f5f7f8;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 20px 0;
  }*/

  body{height:10000px;
    ;  /* Chrome 10-25, Safari 5.1-6 */
  }
  /*더 알아보기 슬라이더*/
  .moreviwe{
    color:#000;
    font-size: 40px;
    position: absolute;
    top:980px;
      left: 250px;
  
  }
  .band {
    
    width: 90%;
    height: 615px;
    max-width:1300px;
    margin: 0 auto;
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;

    position: absolute;
    top:1350px;
    left:47%;
    transform: translate(-50%, -50%);
    font-size: 20px;


  }
  
  @media only screen and (min-width: 500px) {
    .band {
      grid-template-columns: 1fr 1fr;
      
    }  
    .item-1 {
    grid-column: 1/ span 2;
    }
    .item-1 h1 {
      font-size: 30px;
    }
  }
  
  @media only screen and (min-width: 850px) {
    .band {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  /* card */
  
  .card {
    height: 650px;
    width: 350px;
    min-height: 60%;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #444;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
  }
  
  .card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }
  
  .card article {
    padding: 20px;
    display: flex;
    
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    
  }
  .card .thumb {
    padding-bottom: 80%;
    background-size: cover;
    background-position: center center;
  }
  
  .card p { 
    flex: 1; /* make p grow to fill available space*/
line-height: 1.4;
    font-size: 14px;
  }
  
  /* typography */
  h1 {
    font-size: 25px;
    margin: 0;
    color: #333;
  }
  
  .card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }

  /* .downitems{
    
    position: relative;
    top:800px;
    left:180px;
    width: 1500px;
    height:500px;
    background-color: #fff;
    align-items: center;
  } */