.slider {
    width: 1000px;
    height: 550px;
    position: relative;
    top:200px;
    left: 24%;
    
  }
  .slide {
    width: 1000px;
   height: 550px;
    background-size: cover;
    border-radius: 3px;
    animation: fade 1.5s;
    display: none;
    position: absolute;
    

  }
  .slide2 {
    width: 1000px;
   height: 550px;
    background-size: cover;
    border-radius: 3px;
    animation: fade 1.5s;
    display: none;
    position: absolute;
    bottom: 200px;
    

  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: rgb(248, 248, 248);
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 5px;
  }
  .next {
    right: 0;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(190, 190, 190, 0.5);
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  