@charset "utf-8";
body{
    background: black;}
    /* Style */

body.hidden { position: fixed; overflow-y:hidden;  touch-action: none;}
main { font-size: 1.4rem; line-height:2.1rem; color:#666; display: block;}
a, button { color:#666;}
p, li{word-break: keep-all;}

.clear {clear:both;}
.clear:after { content:""; display:block; clear:both;}
caption > div,
legend,
.hide {overflow: hidden; display:block; position:absolute; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px);}

.skip { position: absolute; left: 0; right: 0; top:-100%; transition: all .5s; line-height: 5rem; background: #000; color:#fff; text-align: center; z-index: 100;}
.skip:focus { top: 0; }

header{background: black; border-bottom: 1px solid silver;}
header >div{ position: relative;width: 1090px; margin: 0 auto;}
header >div::after{content: "" ; display: block; clear: both;}
header >div h1{float: left; padding:29px 0 24px;}
header >div nav{float: right; padding: 68px 0 0 0 ;}
header >div .spot{position: absolute;right: 0; top: 0;}
header >div nav > ul > li{ float: left;}
header >div nav > ul > li>a{display: block; font-size: 14px ;padding: 15px 25px 0; color:#fff;line-height: 100%; height: 52px;}
header >div .spot{ position: absolute; right: 0; top: 0;}
header >div .spot > li {float: left;}


section{
    height: 800px;
    
    background:url(image/mainimg2.jpg);
    background-repeat: no-repeat;
    }

section::before{ 
    content: "";
    background: linear-gradient(to bottom,black,transparent);
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

section div > h1{
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 250px;
  left: 700px;
  text-align: center;
}
section >div a{
    font-size: 30px;
    color: #fff;
    
    padding: 5px  30px ;
    border: 2px solid silver;
    position: absolute;
    top: 370px;
    left: 830px;
}

