body{
    background-color:black;
    width: 100%;
    height: 2000px;
}

header{
    background: black; border-bottom: 1px solid silver;
}
header >div{ position: relative;width: 1090px; margin: 0 auto;
}
header >div::after{content: "" ; display: block; clear: both;
}
header >div h1{float: left; padding:29px 0 24px;
}

header >div nav{float: right; padding: 68px 0 0 0 ;
}
header >div .spot{position: absolute;right: 0; top: 0;
}
header >div nav > ul > li{ float: left;}

header >div nav > ul > li>a{display: block; font-size: 14px ;padding: 15px 25px 0; color:#fff;line-height: 100%; height: 52px;}
header >div .spot{ position: absolute; right: 0; top: 0;}
header >div .spot > li {float: left;}



.eqe_title{
    font-size: 30px;
    color: white;
    position: absolute;
    top:150px;
    left: 350px;
}
.slide-wrap{
    position: absolute;
    height: 600px;
    width: 1200px;
   top:50px;
   left: 350px;
    
}
.slide-wrap ul li{
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 150px;; left: 0;
    width: 100%;
}
/*인디케이터*/
.slide-wrap input,
.slide-wrap label{
    position: relative;
    top:710px;
    
}
/*인디케이더 레이블 스타일링*/
.slide-wrap label{
    width: 20px; height: 20px;
    background-color: #ddd;
    display: inline-block;
    border-radius: 10px;
    align-content: center;
    cursor: pointer;
  
}
/*라디오 버튼숨기기*/
.slide-wrap input[type="radio"]{
    display: none;

}
/*슬라이드 이미지 숨기기*/
.slide-wrap ul li {display: none;}
/*인디케이터선택시 이미지 보이기*/
#btn1:checked ~ .slide li:nth-child(1){display: block;}
#btn2:checked ~ .slide li:nth-child(2){display: block;}
#btn3:checked ~ .slide li:nth-child(3){display: block;}
#btn4:checked ~ .slide li:nth-child(4){display: block;}
/*인디케이터 label 스타일링*/
#btn1:checked ~ #in1{background-color:#fff;}
#btn2:checked ~ #in2{background-color:#fff;}
#btn3:checked ~ #in3{background-color:#fff;}
#btn4:checked ~ #in4{background-color:#fff;}

/*인디케이터 템플링 .(wide)*/
#btn1:checked ~ #in1.wide{ width: 40px;}
#btn2:checked ~ #in2.wide{ width: 40px;}
#btn3:checked ~ #in3.wide{ width: 40px;}
#btn4:checked ~ #in4.wide{ width: 40px;}

/*모션*/
.slide-wrap label{
    transition: all 0.6s;
}



.slide-img1 {background-image: url(https://www.mercedes-benz.co.kr/passengercars/content-pool/marketing-pool/product-page-stages/eqe-saloon-v295-stage-design-and-equipment/_jcr_content/par/stageelement.MQ6.0.stage.20220930171244.jpeg
    );
}

.slide-img2{background-image: url(https://www.mercedes-benz.co.kr/passengercars/mercedes-benz-cars/models/eqe/saloon-v295/explore/design-highlights/_jcr_content/contentgallerycontainer/par/contentgallery/par/contentgallerytile/image.MQ6.0.20220930072910.jpeg);}

.slide-img3 {background-image: url(https://www.mercedes-benz.co.kr/passengercars/mercedes-benz-cars/models/eqe/saloon-v295/explore/design-highlights/_jcr_content/contentgallerycontainer/par/contentgallery/par/contentgallerytile_1649813152/image.MQ6.0.20220930122413.jpeg)
;}

.slide-img4 {background-image: url(https://www.mercedes-benz.co.kr/passengercars/mercedes-benz-cars/models/eqe/saloon-v295/explore/design-highlights/_jcr_content/contentgallerycontainer/par/contentgallery/par/contentgallerytile_161405432/image.MQ6.0.20220930150912.jpeg;)}

.infomation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    width: 1200px;
    position: absolute;
    top:850px;
    left: 350px;
}

    .info_etc{
    font-size: 12px;
    position: absolute;
    color:gray;
    top:950px;
    left: 350px;
    height: 500px;
}

.info_etc p{ font-size: 15px;}
#big{
    font-size: 30px;
    font-weight: bold;
}
.underlines{
    border-left: 2px solid gray;
    padding-left: 20px;
    
}
.maininfo{
    position: relative;width: 1090px; margin: 0 auto;
    
}
div .maintxt{
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 1000px;
    left:-65px;

}

div .maininfo1{
    width: 1000px;
    height: 400px;
    background-color: black;
    font-size: 15px;
    color:#fff;
    position: absolute;
    top:1150px;
    left: -5%;
    
}
div .eqe_ex_first{
    width: 450px;
    position: absolute;
    top:1300px;
    left: -5%;
       }
.eqe_ex_first:hover{
    position: absolute;
    top: 1350px;
    left: 40px;
    transform: scale(1.5);
    transition: .5;
}


.maintxt {
        display: inline-block;
              padding: 10px;
        animation: fadein 3s;
        -moz-animation: fadein 3s; /* Firefox */
        -webkit-animation: fadein 3s; /* Safari and Chrome */
        -o-animation: fadein 3s; /* Opera */
      }
     @keyframes fadeInUp {
            0% {
                opacity: 0;
                transform: translate3d(0, 100%, 0);
            }
            to {
                opacity: 1;
                transform: translateZ(0);
            }
        }
     
        .maintxt{
            position: relative;
            animation: fadeInUp 1s;
        }

     
/*footer{
    height: 60px;
    background-color:#181818;
    color:white;
  position: relative;
  transform: translateY(100%);
  text-align: center;
    
}*/